MAIL_USERNAME=add-your-data
MAIL_PASSWORD=add-your-data
JWT_SECRET=add-your-data




# ********* OAuth *********
# Google OAuth
GOOGLE_CLIENT_ID=add-your-data
GOOGLE_CLIENT_SECRET=add-your-data

# GitHub OAuth
GITHUB_CLIENT_ID=add-your-data
GITHUB_CLIENT_SECRET=add-your-data
